<% content_for :title do %>About<% end %>
<h3 align = "center">About the What Should I Eat</h3>
<p align = "center">
This web application allows users to search for recipes, post recipes and receive recommendation for recipes.
</p>
